.contact-info {
  padding: 12px;
  background: #000;
  color: #fff;
  border-radius: 12px;
  box-sizing: border-box;
  width: 267px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}
.contact-info__title {
  width: 243px;
  height: 42px;

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
}

.contact-info__email {
  width: 173px;
  height: 15px;

  font-size: 10px;
  line-height: 150%;

  color: #dddddd;
}