.languages-info {
  padding: 12px;
  width: 267px;
}

.languages-info__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.languages-info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.languages-info__name {
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
}

.languages-info__progress {
  width: 168px;
  height: 11px;
  border-radius: 59px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.languages-info__progress::after {
  content: ""; 
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--progress, 100%);
  background: var(--green);
  border-radius: 59px;
}
