.tools-info {
  position: relative;
  padding: 12px;
  height: 359px;
}

.tools-info__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.tools-info__list-item {
  width: 76px;
  border-radius: 6px;
  padding: 16px 4px;
  background-color: #fff;
  box-sizing: border-box;
  position: relative;
}

.tools-info__label {
  padding: 3px 10px;
  border-radius: 59px;
  background: #000;
  color: #fff;
  font-size: 6px;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.tools-info__tools-list {
  display: grid;
  grid-template-columns: repeat(2, 14.76px);
  grid-auto-rows: 14.76px;
  column-gap: 16px;
  row-gap: 16px;

  justify-content: center;
  align-content: center;
}

.tools-info__tools-list-item {
  width: 14.76px;
  height: 14.76px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.tools-info__icon {
  width: 14.76px;
  height: 14.76px;
  object-fit: contain;
}