#progress-wrapper {
  width: 500px;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 8px;
}

#progress-bar {
  width: 100%;          
  height: 100%;
  background-color: #5a5ccf;
  transform: scaleX(0);
  transform-origin: left;
}


.timer {
  font-family: Arial, sans-serif;
}
