.page {
  padding: 15px 20px;
  width: 555px; 
}

.block-1 {
  display: flex;
  gap: 20px;
  height: 124px;
}

.block-2 {
  display: flex;
  align-items: start; 
  gap: 20px;
  margin-top: 20px;
}

.block-3 {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  height: 289px;        
  align-items: start;
}


.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 289px; 
}


.card {
  border-radius: 12px;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

.header-text {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
}

.avatar-container,
.personal-info,
.languages-info {
  height: 100%;
}
