.hidden {
    display: none;
}

#gift-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.popup-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.popup-content img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

#close-button {
    padding: 10px 20px;
    background-color: #ffd700;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#close-button:hover {
    background-color: #ffc107;
}